.sr-text {
	border: 0;
	clip: rect(0 0 0 0);
	height: 1px;
	margin: -1px;
	overflow: hidden;
	padding: 0;
	position: absolute;
	width: 1px;
}
.sr-text.focusable:active,
.sr-text.focusable:focus {
	clip: auto;
	height: auto;
	margin: 0;
	overflow: visible;
	position: static;
	width: auto;
}
[aria-hidden="true"] {
	display: none;
}

/* Tooltip structure
-------------------------- */

.mwf-tooltip-wrap {
	position: relative;
}
.mwf-tooltip {
	top: 100%;
	position: absolute;
	left: 0;
	z-index: 2;
}
.mwf-tooltip-collide-right {
	left: auto;
	right: 0;
}
.mwf-tooltip-collide-bottom {
	bottom: 100%;
	top: auto;
}

/* Tooltip theming
-------------------------- */
.mwf-tooltip {
	background: #fafafa;
	border: 1px solid #999;
	width: 10em;
	padding: .5em;
}
.rich {
	width: 35em;
}
.testhed {
	clear: left;
	display: inline-block;
}
.test-class {
	display: inline-block;
}

